@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');

body {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(Images/background-payment.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 800;
    /* overflow-y: hidden; */
    overflow: hidden;
  }

  * {
    box-sizing: border-box;
  }
  

  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 35%; /* IE10 */
    flex: 35%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 65%; /* IE10 */
    flex: 65%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 10px 20px;
  }
  
  .container {
    background-color: #f2f2f28a;
    padding: 5px 20px 5px 20px;
    border: 1px solid lightgrey;
    border-radius: 15px;
    height: 100%;
    
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #3f579b;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #3f579b;
  }
  
  a {
    color: #2196F3;
  }
  
  hr {
    border: 1px solid lightgrey;
  }
  
  span.price {
    float: right;
    color: rgb(0, 0, 0);
  }

  h6{
    float: right;
  }

  .button{
    padding: 6px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
  }
  .button a{
    text-decoration: none;
  }
  .button:hover{
    color:white;
    background-color: black;
    cursor: pointer;
    border-radius: 10px;
  }

 .container .abc{
    float: right;

  }